<div class="navbar bg-primary">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </label>
    </div>
    <a class="btn btn-ghost normal-case text-xl" routerLink="padlets" routerLinkActive="active">
      ShareWall</a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <!--
      <li>
        <a routerLink="padlets" routerLinkActive="active"
           class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
          Padlet Overview
        </a>
      </li>

      <li *ngIf="!isLoggedIn()">
        <a routerLink="login" routerLinkActive="active"
           class="item">{{getLoginLabel()}}</a>
      </li>
      -->
    </ul>
  </div>
  <div class="navbar-end">
    <!-- Person Dropdown with Links (only visible when logged in)-->
      <a routerLink="login" routerLinkActive="active" *ngIf="!isLoggedIn()"
         class="item">{{getLoginLabel()}}</a>
    <div class="dropdown dropdown-end" *ngIf="isLoggedIn()">
      <div>Hi {{user.name}}</div>
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full" *ngIf="user.picture">
          <img
            src="{{user.picture}}"/>
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a routerLink="login" routerLinkActive="active"
               class="item">{{getLoginLabel()}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <img width="50" height="50" viewBox="0 0 24 24"
         src="https://www.svgrepo.com/show/500431/share.svg"
         fill-rule="evenodd" clip-rule="evenodd" class="fill-current"/>

  </div>
  <div>
    <h2>ShareWall</h2>
    <br/>Unleash the Power of Collaboration <br>Lisa Zeitlhofer
  </div>
</footer>

