<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a routerLink="home" routerLinkActive="active"
             class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">
            Home
          </a>
        </li>
        <li>
          <a routerLink="padlets" routerLinkActive="active"
             class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Alle
            Padlets
          </a>
        </li>
        <!-- Submenu
        <li tabindex="0">
          <a class="justify-between">
            Parent
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/>
            </svg>
          </a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        -->
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl">ShareWall</a>
  </div>
  <div class="navbar hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a routerLink="home" routerLinkActive="active"
           class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">
          Home</a>
      </li>
      <!-- submenu
      <li tabindex="0">
        <a>
          Parent
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
          </svg>
        </a>
        <ul class="p-2">
          <li><a>Submenu 1</a></li>
          <li><a>Submenu 2</a></li>
        </ul>
      </li>
      -->
      <li>
        <a routerLink="padlets" routerLinkActive="active"
           class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
          Alle Padlets
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
<!-- Login Link -->
    <div class="ui {{isLoggedIn()?'four':'three'}} item tabs menu">
      <a routerLink="home" routerLinkActive="active" class="item">Home</a>
      <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
      <a *ngIf="isLoggedIn()" routerLink="admin" routerLinkActive="active"
         class="item">Administration</a>
      <a routerLink="login" routerLinkActive="active"
         class="item">{{getLoginLabel()}}</a>
    </div>
<!-- Person Dropdown with Links -->

    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <!--<img src="/images/stock/photo-1534528741775-53994a69daeb.jpg"/>-->
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


