<div class="navbar bg-primary">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a routerLink="home" routerLinkActive="active"
             class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">
            Home
          </a>
        </li>
        <li>
          <a routerLink="padlets" routerLinkActive="active"
             class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
            Padlet Overview
          </a>
        </li>
        <!--<li>
          <a routerLink="login" routerLinkActive="active"
             class="item">{{getLoginLabel()}}</a>
        </li>-->
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl">ShareWall</a>
  </div>
  <div class="navbar hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a routerLink="home" routerLinkActive="active"
           class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">
          Home</a>
      </li>
      <li>
        <a routerLink="padlets" routerLinkActive="active"
           class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
          Padlet Overview
        </a>
      </li>

      <li *ngIf="!isLoggedIn()">
        <a routerLink="login" routerLinkActive="active"
           class="item">{{getLoginLabel()}}</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <!-- Person Dropdown with Links (only visible when logged in)-->
    <div class="dropdown dropdown-end" *ngIf="isLoggedIn()">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full" *ngIf="user.picture">
          <img
            src="{{user.picture}}"/>
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn()"><a>Settings</a></li>
        <li><a *ngIf="isLoggedIn()" routerLink="admin" routerLinkActive="active"
               class="item">Administration</a>
        </li>
        <li><a routerLink="login" routerLinkActive="active"
               class="item">{{getLoginLabel()}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


